version: "3"

services:
  db:
    image: mariadb:10
    restart: always
    container_name: mariadb-server
    ports:
      - 5555:3306
    environment:
      MYSQL_ROOT_PASSWORD: 20220201
      MYSQL_DATABASE: crypto-rdb
      TZ: Asia/Seoul
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    volumes:
      - $PWD/docker_space:/var/lib/mysql

  upbit:
    build:
      context: .
      dockerfile: ./docker/upbit-websocket/Dockerfile
    container_name: upbit-websocket-server
    environment:
      TZ: Asia/Seoul
    depends_on:
      - "db"
    tty: true

    
